img:hover{
	cursor: pointer;
}

img{
	width: 100%;
	height: 100vh;
}
.movil{
	display: none;
}
@media (max-width: 575.98px) { 
	img{
		height: 50vh;
	}
	.movil{
		display: block;
	}
	.escritorio{
		display: none;
	}
 }